body{
	
	margin:0px;
}

#logo-i-social{
    display: flex;
}
#logo-holder{
    flex-grow: 1;
}
#social-holder {
	flex-grow: 2;
	text-align: left;
}
#social-holder h1{
	text-shadow:2px 1px black;
	color:gold;
    margin-top:40px;
    font-size: 50px;
}
@media only screen and (max-width: 600px) {
  #social-holder h1{
    font-size: 30px;
}

}




}
#social-holder a img{
	width: 30px;
	height: 30px;
}
.pocetna{
	background-image: url("images/pocetna8.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	


}
.forma1{
	background-color: black;
	opacity: 80%;
	margin-top: 10%;
	margin-bottom: 35%;
	color: white;
	border-radius: 10px;
	border-top-style:hidden;
}
.odvoji{
	margin-top:20%;
	font-size: 45px;
	font-weight: bold;
	color:gold;
	text-shadow:4px 4px black;
}
.forma1 input{
	width: 50%;
	margin-right: 15%;
	flex-grow: 3;
	margin-left: 5%;
	height: 40px;

}
.forma1 p{
	width: 50%;
	margin-right: 15%;
	flex-grow: 3;
	margin-left: 5%;
	height: 40px;
	opacity: 80%;
	color: blue;
	font-weight: bold;

}
.forma1 label{
	margin-top: 7%;
	margin-left: 5%;
}
.forma1 button{
	margin-left: 5%;
	margin-bottom: 5%;
}
.forma1 img{
	width: 45px;
	height: 25px;
	margin-right: 5px;

}


.poz{
	display: flex;
}
#selektor1{
	flex-grow: 1;
	border: 1px solid white;
	background-color:black;
	color:white;
	font-weight: bold;
	height: 40px;
	margin-right: 5%;
	border-radius: 10px;

}
#selektor2{
	flex-grow: 1;
	border:1px solid white;
	background-color:black;
	color:yellow;
	font-weight: bold;
	height: 40px;
	margin-right: 5%;
	border-radius: 10px;
}
.t{
	margin-right: 25%;
}
.fut{
	color:gold;
	background-color: black;
	opacity: 80%;
	margin-right:-15px;
	margin-left: -15px;

}
.q{
	margin-top: 100px;
}



